.modal {
  padding: 8px;

  .versus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    img{
      width: 40px;
      height: 40px;
    }
    .name{
      font-size: 20px;
      font-style: italic;
      font-style: bold;
      color: aquamarine;
    }
  }


  h2 {
    color: #e02020;
    margin-bottom: 20px;
    font-size: 24px;
  }

  p {
    margin-bottom: 10px;
    font-size: 16px;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }

  .button:hover {
    background-color: #0056b3;
  }
  // .selectSearch{
  //   width: 100%;
  //   padding: 10px;
  //   border: 1px solid #ccc;
  //   border-radius: 5px;
  //   margin-bottom: 20px;
  //   font-size: 16px;
  //   > div>ul {
  //     color: #000;
  //   }
  // }
}
