.root{
    width: 550px;
    height: 700px;
    position: relative;
    .title{
        position: absolute;
        top: 0;
        width: 100%;
        padding: 12px;
        text-align: center;
        font-size: 24px;
        font-weight: 500;

    }
    .body{
        position: absolute;
        top: 50px;
        width: 100%;
        height: 600px;
        text-overflow: hidden;
        overflow-y: auto;
        .noData{
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            color: #949494;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .transaction{
            background-color: #dfdfdf;
            color: #000000;
            padding: 12px;
            border-radius: 8px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;
            .transactionDetails{
                .transactionAmount{
                    .fighterName{
                        font-size: 18px;
                        font-weight: 500;
                        color: #12b4ff;
                        text-decoration: underline;
                    }
                }
            }
            .transactionStatus{
                color: #949494;
            }
            .transactionStatusApproved{
                color: #43b388;
            }
        }
        .debitTransaction{
            background-color: #47504a;
            color: #dbdbdb;
        }

    }
    .footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        .buttons{
            width: 100%;
            button{
                width: 100%;
                padding: 12px;
                border: none;
                background-color: #43b388;
                color: #ffffff;
                font-size: 16px;
                font-weight: 500;
                border-radius: 8px;
            }
        }
    }
}