
.container {
  position: relative;
}

.button {
  width: 100%;
  padding: 0;
  background: none;
  border: 0;
  text-align: left;
  outline: none;
  border-radius: 4px;

  &[disabled] {
    cursor: not-allowed;

    .trigger {
      background-color: #f6f5f3;
    }

    .label {
      cursor: not-allowed;
    }
  }
}

.trigger {
  position: relative;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6.00005 6L11.0001 1' stroke='%23979595' strokeWidth='2' strokeMiterlimit='10' /%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 10px top 24px;
  background-size: 14px;
  box-shadow: 0 1px 3px rgba(19, 13, 15, 0.03);
  outline: none;
  border: 1px solid $border-color;
  border-radius: 4px;

  .button:focus &,
  .button:focus-within & {
    border-color: $theme-blue;
    box-shadow: 0 0 0 1px $theme-blue;
  }

  &.hasError {
    border-color: #f33330;
    box-shadow: 0 0 0 1px #f33330;
  }
}

.isLoading {
  pointer-events: none;
}

.label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  padding: 9px 25px 1px 12px;
  line-height: 1.2;
  color: #9e9e9e;
  text-transform: uppercase;
}

.placeholder {
  color: #c1bbbb;
}

.selected {
  padding: 0 12px 5px;
  font-size: 15px;
  outline: none;
  height: 28px;
  overflow: hidden;
}

.dropdown {
  position: absolute;
  z-index: 1000000;
  width: 100%;
  margin-top: 4px;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  outline: none;
  max-height: 225px;
  padding: 4px;
  overflow-y: auto;
  animation: dropdownEnter 0.18s;

  &:not(:empty) {
    box-shadow: 0 10px 28px rgba(19, 13, 15, 0.1);
  }

  &.upwards {
    bottom: 58px;
    animation: dropdownEnterUp 0.18s;
  }
}

.dropdown_above {
  position: absolute;
  z-index: 9;
  width: 100%;
  bottom: 0px;
  margin-top: 4px;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  outline: none;
  max-height: 225px;
  padding: 4px;
  overflow-y: auto;
  animation: dropdownEnter 0.18s;

  &:not(:empty) {
    box-shadow: 0 10px 28px rgba(19, 13, 15, 0.1);
  }

  &.upwards {
    bottom: 58px;
    animation: dropdownEnterUp 0.18s;
  }
}

@keyframes dropdownEnter {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes dropdownEnterUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}

.dropdownItem {
  display: flex;
  padding: 6px 8px;
  border: 2px solid transparent;
  border-radius: 4px;
  color: #716d6f;
  cursor: pointer;
  align-items: center;

  &.isActive {
    background-color: #eee9fe;
    color: #130d0f;
  }

  &.isHighlighted {
    border-color: $theme-blue;
  }
}

.helpText {
  display: block;
  margin-top: 5px;
  color: #979595;
  font-size: 13px;
}

.clear {
  position: absolute;
  right: 4px;
  top: 2px;
  background-color: #fff;
  padding: 15px 10px;
  color: #959595;
  font-size: 14px;
}

.icon {
  height: 30px;
  width: 40px;
  margin-right: 12px;
}
