.container {
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 10px top 24px;
    background-size: 14px;
    box-shadow: 0 1px 3px rgba(19, 13, 15, 0.03);
    outline: none;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
  
    &.isDisabled {
      background-color: #f6f5f3;
      pointer-events: none;
    }
  
    &.hasError {
      border-color: #f33330;
      box-shadow: 0 0 0 1px #f33330;
    }
  }
  
  .inputContainer {
    display: flex;
    align-items: baseline;
  }
  
  .input {
    width: 100%;
    border: 0;
    padding: 0 12px 5px;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
    background-color: inherit;
  }
  
  .loader {
    margin-right: 10px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .pills {
    padding: 0 12px 4px;
  }
  
  .pill {
    display: inline-block;
    padding: 2px 0 2px 8px;
    margin-right: 5px;
    background-color: #eee9fe;
    border: 1px solid #5430bb;
    font-size: 13px;
    line-height: 1.2;
    border-radius: 12px;
  }
  
  .clearPill {
    opacity: 0.9;
    padding-right: 8px;
    padding-left: 5px;
    font-size: 10px;
    cursor: pointer;
  
    &:hover {
      opacity: 1;
      font-weight: 600;
    }
  }
  
  .placeholder {
    position: absolute;
    left: 0;
    background-color: #f6f5f3;
    color: #c1bbbb;
    width: calc(100% - 24px);
    padding-left: 12px;
    pointer-events: none;
  }
  